@use "abstracts";
@use "components";
@use "utilities";
@use "base";
@use "./base/border";

* {
  box-sizing: border-box;
  color: abstracts.$primary;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  border-bottom: border.$border-width-sm;
}

footer {
  border-top: border.$border-width-sm;
}

.flash {
  color: abstracts.$flash;
}
