@use "abstracts";
@use "components";
@use "utilities";
@use "base";

* {
  box-sizing: border-box;
  color: abstracts.$primary;
}

html,
body {
  height: 100%;
}

header {
  height: 7em;
}

footer {
  height: 7em;
}
