@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.buttons__button-add {
  margin: 0.25em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  background-color: rgb(238, 241, 244);
  border: 0;
  border-radius: 0.5em;
  font-weight: 900;
}
.buttons__button-round {
  margin: 0 auto;
  margin-top: 3em;
  background-color: rgb(87, 115, 159);
  border: 0;
  border-radius: 2em;
  color: rgb(238, 241, 244);
  padding: 1em 1.5em;
  font-weight: 700;
}

.input {
  margin: 0.25em 0;
}
.input__active {
  margin: 0.25em 0;
  border: 2px solid rgb(87, 115, 159);
  border-radius: 0.5em;
  padding: 1em 1.5em;
  font-weight: 400;
}
.input__active::placeholder {
  color: rgb(87, 115, 159);
}
.input__placeholder {
  margin: 0.25em 0;
  border: 2px solid rgb(87, 115, 159);
  border-radius: 0.5em;
  padding: 1em 1.5em;
  font-weight: 400;
  background-color: rgb(238, 241, 244);
}
.input__placeholder::placeholder {
  color: rgb(87, 115, 159);
}
.input__placeholder::after {
  content: "+";
}

.card {
  position: absolute;
}
.card__project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  position: relative;
  width: 15em;
  border: 2px solid rgb(87, 115, 159);
  box-shadow: 6px 6px 0px -1px rgb(87, 115, 159);
  border-radius: 1.5em;
}
.card__top-info {
  line-height: 1;
}
.card__camera-count {
  display: flex;
  justify-content: space-between;
}
.card__bottom-info {
  line-height: 2;
}
.card__date {
  font-weight: 300;
}

.card h5 {
  margin: 0;
}

.card h3 {
  margin: 0;
}

.footer {
  color: white;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
}
.footer__container {
  background-color: rgb(87, 115, 159);
  padding: 2em 0;
}
.footer__link {
  color: white;
}

@media only screen and (min-width: 60em) {
  .footer {
    display: flex;
    justify-content: flex-end;
    border-left: 2px solid rgb(87, 115, 159);
  }
  .footer__container {
    width: calc(35% + 1px);
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__logotitle {
  display: none;
}
.header__nav {
  font-size: var(--fs-600);
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.header__link {
  text-decoration: none;
}
.header__separator {
  height: 2px;
  width: 100%;
  background-color: rgb(87, 115, 159);
}

@media only screen and (min-width: 60em) {
  .main {
    min-height: 100vh;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .header__logotitle {
    margin-left: 1.2em;
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 1em;
    height: 70%;
    display: flex;
  }
  .header__nav {
    margin-top: 1.5em;
    align-self: flex-end;
    width: 35%;
    border-left: 2px solid rgb(87, 115, 159);
    border-right: 2px solid rgb(87, 115, 159);
    border-top: 2px solid rgb(87, 115, 159);
  }
  .header__separator {
    display: none;
  }
}
.login__header {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  align-items: center;
}
.login__nav {
  margin: 0;
}
.login__title {
  margin: 0 auto;
  margin-top: 2em;
}
.login__link {
  text-decoration: underline;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 2em;
}
.login__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__footer__container {
  width: 100%;
}

.midsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.midsection__nav-icons {
  display: none;
}
.midsection__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.midsection__description {
  text-align: center;
  width: 90%;
  padding: 1em 2em;
  margin: 0;
}
.midsection__title {
  font-weight: 900;
}

@media only screen and (min-width: 60em) {
  .midsection {
    border-left: 2px solid rgb(87, 115, 159);
    border-right: 2px solid rgb(87, 115, 159);
    flex-direction: row;
    justify-content: space-between;
  }
  .midsection__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4em 0;
    width: 4em;
    border-right: 2px solid rgb(87, 115, 159);
  }
  .midsection__nav-icons {
    display: block;
  }
  .midsection__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    border-left: 2px solid rgb(87, 115, 159);
  }
}
.onboarding__line {
  height: 0.2em;
  background-color: rgb(238, 241, 244);
  margin: 0 1em;
  margin-top: 2em;
}
.onboarding__line-progress {
  width: 25%;
  height: 0.2em;
  background-color: rgb(87, 115, 159);
}
.onboarding__img {
  margin: 0 auto;
  aspect-ratio: 1/1;
  width: 80%;
  object-fit: cover;
}
.onboarding__title {
  margin: 0 0.5em;
}
.onboarding__input {
  margin: 0 auto;
}
.onboarding__buttons {
  margin: 0 auto;
}
.onboarding__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.projects__header {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__nav {
  margin: 0;
}
.projects__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  gap: 0.5em;
}
.projects__lenses, .projects__camera, .projects__film {
  display: flex;
  gap: 0.5em;
}
.projects__notes {
  width: 100%;
  height: 10em;
}
.projects__notes::placeholder {
  position: absolute;
}
.projects__record {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.projects__record button {
  width: 100%;
}
.projects__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
}

:root {
  --fs-xl: clamp(3.5rem, 12vw + 1rem, 8rem);
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

html {
  font-size: 100%;
}

/*16px*/
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background: white;
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
  color: rgb(87, 115, 159);
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

header {
  border-bottom: 2px solid rgb(87, 115, 159);
}

footer {
  border-top: 2px solid rgb(87, 115, 159);
}

.flash {
  color: rgb(246, 202, 86);
}

/*# sourceMappingURL=style.css.map */
