@use "../abstracts/index";
@use "../base/border";
@use "../base/font-face";
@use "../base/padding";

.buttons {
  &__button-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: padding.$padding-sm-xy;
    background-color: index.$secondary;
    border: 0;
    border-radius: border.$border-radius-sm;
    font-weight: font-face.$fw-900;
  }
  // &__button-add::after {
  //   content: "+";
  //   margin-left: 1em;
  // }
  &__button-round {
    margin: 0 auto;
    margin-top: 3em;
    background-color: index.$primary;
    border: 0;
    border-radius: border.$border-radius-lg;
    color: index.$secondary;
    padding: padding.$padding-sm-xy;
    font-weight: 700;
  }
}

.input {
  &__active {
    border: border.$border-width-sm;
    border-radius: border.$border-radius-sm;
    padding: padding.$padding-sm-xy;
    font-weight: font-face.$fw-400;
  }
  &__active::placeholder {
    color: index.$primary;
  }
  &__placeholder {
    border: border.$border-width-sm;
    border-radius: border.$border-radius-sm;
    padding: padding.$padding-sm-xy;
    font-weight: font-face.$fw-400;
    background-color: index.$secondary;
  }
  &__placeholder::placeholder {
    color: index.$primary;
  }
  &__placeholder::after {
    content: "+";
  }
}
