@use '../abstracts/index';


.card{
    position: absolute;
    &__project-info{
        position: relative;
        width: 20em;
        height: 20em;
        border: 2px solid index.$primary;
    }

}