@use '../abstracts/index';

.header{    
    
    &__container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__logotitle{
        display: none;
    }
    &__nav{
        font-size: var(--fs-600);
        padding: 1.2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }
    
    &__link{
        text-decoration: none;
    }

    &__separator{
        height: 2px;
        width: 100%;
        background-color: index.$primary;  
    }
}