@use "../abstracts/index";
@use "../base/border";

.login {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.75em;
  // align-items: center;
  &__title {
    margin: 0 auto;
    margin-top: 2em;
  }
  &__label {
    margin-top: 1em;
  }
  &__input {
    border: border.$border-width-sm;
    color: index.$primary;
    border-radius: border.$border-radius-sm;
    padding: 0.8em 0 0.8em 0.5em;
    font-weight: 300;
  }
  &__input::placeholder {
    color: index.$primary;
  }
  &__button {
    width: 8em;
    margin: 0 auto;
    margin-top: 3em;
    background-color: index.$primary;
    border: 0;
    border-radius: border.$border-radius-lg;
    color: index.$secondary;
    padding: 1em;
    font-weight: 700;
  }
  &__link {
    text-decoration: underline;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 2em;
  }
}
