@use "../abstracts/index";
@use "../base/border";
@use "../base/padding";
@use "../components/buttons";

.login {
  &__header {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
    align-items: center;
  }
  &__nav {
    margin: 0;
  }
  &__title {
    margin: 0 auto;
    margin-top: 2em;
  }

  &__link {
    text-decoration: underline;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 2em;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__container {
      width: 100%;
    }
  }
  // &__link {
  //   background-color: index.$primary;
  // }
}
