@use "../abstracts/index";
@use "../base/border";
@use "../base/padding";
@use "../components/buttons";

.login {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.75em;
  // align-items: center;
  &__title {
    margin: 0 auto;
    margin-top: 2em;
  }

  &__link {
    text-decoration: underline;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 2em;
  }
}
