@use '../base/border';

//Desktop
@media only screen and (min-width:40em) {

	.header{    

    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__logotitle{
        display: flex;
        align-items: center;
        align-self: flex-end;
        gap: 1em;
        height: 70%;
        display: flex;
    }
    &__nav{
        height: 70%;
        align-self: flex-end;
        width: calc(30% + .3px);
        border-left: border.$border;
        border-right: border.$border;
        border-top: border.$border;
    }
    }

    .midsection{
        display: flex;
        justify-content: space-between;
        border-top: border.$border;
        border-left: border.$border;
        border-right: border.$border;
        border-bottom: border.$border;

        &__nav{
        width: 4em;
        height: 100%;
        border-right: border.$border;
        }

        &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        border-left: border.$border;
        }
        
    }

    .footer{
        display: flex;
        justify-content: flex-end;
        border-left: border.$border;
        &__container{
            width: calc(30% + 1px);

        }
    }


}
