@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$font-stack: 'Lato', Arial, Helvetica, sans-serif;

$fw-300: 300;
$fw-400: 400;
$fw-700: 700;
$fw-900: 900;
