$primary: rgba(87,115,159, 1);
$secondary: rgba(238,241,244, 1);
$flash: rgba(246,202,86, 1);
$white: rgba(255,255,255, 1);
$card-crayola-yellow: rgba(255, 240, 124, 1);
$card-uranian-blue: rgba(180, 225, 255, 1);
$card-lavender-purple: rgba(171, 135, 255, 1);
$card-orchid-pink: rgba(255, 172, 228, 1);
$card-mint-green: rgba(193, 255, 155, 1);

//https://coolors.co/fff07c-b4e1ff-ab87ff-fface4-c1ff9b